.BitFixHome:hover{
    border: 9px solid  rgb(255, 170, 0);
}
.BitFixHome:active{
    border-color: rgb(235, 170, 6);
}
.BitFixHome{
    border: 10px solid rgb(252, 170, 6);
    position: relative;
    left: 30px;
    top: 2px;
}
.BitFixHeader{
    margin-left: auto;
    margin-right: auto;
    top: 0;
    height: 100px;
    border-bottom:3px solid rgb(0, 0, 0);
    background: rgba(252, 170, 6);
    position: -webkit-sticky;
    position: sticky;
}
.BitFixHeadHolder{
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    border: 2px dashed rgba(114, 186, 94, 0.35);
}
.BitFixHome:hover{

}

html{
    height: 8000px;
    overflow: scroll;
}

